<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TaskSuite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="testcases.Task2AmazonTests"/>
      <class name="testcases.Task3MonitorPriceChangeTest"/>
      <class name="testcases.Task4AmazonProductFilterTest"/>
      <class name="testcases.Task5AmazonUserProfileTest"/>
      <class name="testcases.Task7AmazonAddProductVerify"/>
      <class name="testcases.Task6AmazonValidProductAndVerifyTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
